english_empty_sheets_out
english_empty_sheets_out
english_sheets_out_1
english_sheets_out
previousFile
thai_empty_sheets_out
thai_full_sheets_out
englishEmpty.xlsx
englishfullfilefromchrome.xlsx
extract_excel (copy).py
extract_excel (Sep 8 before removing null or empty data).py
extract_excel(beforegettingemptyValuewhendatanull.py
test.xlsx
thai_empty_sheet.xlsx
thai_full_sheet.xlsx
